body{
  --pink:#fad2e0;
  --dark-pink:#f7a1bf;
  --text:#333;
  background-color:var(--pink);
  font-family:sans-serif;
  color:var(--text);
  padding:0;
  margin:0;
}
.content{
  position:relative;
  min-height:100vh;
  width:100vw;
}
#donut{
  transform:translate(-50%,-50%);
  top:calc(50% - 50px);
  position:absolute;
  max-width:80vw;
  width:600px;
  left:50%;
}
a.link{
  transition:background-color 0.2s ease;
  background-color:var(--pink);
  text-decoration:none;
  border-radius:3px;
  color:var(--text);
  padding:3px;
}
a.link:hover{
  background-color:var(--dark-pink);
}

/* YouTube */
#youtube{
  /*transition:box-shadow ease 0.2s;
  box-shadow:0 0 0 red;*/
  position:absolute;
  border-radius:50%;
  cursor:pointer;
  width:50px;
  left:10px;
  top:10px;
}
/*#youtube:hover{
  box-shadow:0 0 5px red;
}*/

/* Control */
.control{
  grid-template-columns:33% 34% 33%;
  background-color:#fafafa;
  position:absolute;
  text-align:center;
  padding:25px 0;
  display:grid;
  width:100%;
  bottom:0%;
}
.control input[type=file]{
  display:none;
}
.control .upload{
}
#upload img{
  transition:background-color ease 0.2s;
  background-color:var(--pink);
  border-radius:50%;
  cursor:pointer;
  padding:5px;
  width:75px;
}
#upload img:hover{
  background-color:var(--dark-pink);
}
#upload.disabled img{
  background-color:#777;
  cursor:auto;
}
